.navigation{
    background: linear-gradient( #0000008c, rgb(0, 0, 0,0.55));
    background-image: url('../img/Rectangl.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-link:hover,
.nav-link:active{
    background-color: white;
    border-radius: 25px;
    color: white;
    
}
/*320px*/
@media screen and (min-width: 320px) and (max-width: 578px) 

{
  .card21 .card-body{
    text-align: center;
  }

  .cartes1{
    box-shadow: 1px 1px grey;
    width: 200px;
  }
  .col .graphe{
    width: 300px;
    height: 190px;
  }
  .sama2{
    margin-top: 25px;
    
  }
  .graphe3{
    margin-top: 30px;
    margin-right: -5px;
    margin-left: 3px;
    
  }
  .col .card1{
    margin-right: -25px;
  }

  .photo1{
    width: 290px;
    height: 578px;
    margin-left: -33px;
  }

  
  .photo11{
    width: 290px;
    height: 578px;
    margin-left: -33px;

  }

  .card21{
    margin-bottom: 25px;
    width: 250px;
    margin-left: -33px;
  }

  .arrows{
    width: 80px;
  }
}

/*375px*/
@media screen and (min-width: 375px) and (max-width: 578px)


{


  .cartes1{
    box-shadow: 1px 1px grey;
    width: 200px;
  }
  .col .graphe{
    width: 351px;
    height: 190px;
  }
  .sama2{
    margin-top: 25px;
   
  }
  .graphe3{
    margin-top: 30px;
    margin-right: 3px;
   
  }
  .col .card1{
    margin-right: -25px;
  }


  .photo1{
    width: 350px;
    height: 578px;
    margin-left: -33px;
  }


 
  .photo11{
    width: 351px;
    height: 578px;
    margin-left: -33px;


  }


  .card21{
    margin-bottom: 25px;
    width: 300px;
    border-radius: none;
  }
  .card21 .card-body{
    text-align: center;
  }


  .arrows{
    width: 80px;
  }
}

/*425px*/
@media screen  and (max-width: 578px)


{


  .cartes1{
    box-shadow: 1px 1px grey;
    width: 200px;
  }
  .col .graphe{
    width: 400px;
    height: 190px;
  }

}

/*425px*/
@media screen  and (max-width: 578px)


{


  .cartes1{
    box-shadow: 1px 1px grey;
    width: 200px;
  }
  .col .graphe{
    width: 400px;
    height: 190px;
  }


  .sama2{
    margin-top: 25px;
   
  }
  .graphe3{
    margin-top: 30px;
    margin-right: 3px;
   
  }
  .col .card1{
    margin-right: -25px;
  }


  .photo1{
    width: 400px;
    height: 578px;
    margin-left: -33px;
  }


 
  .photo11{
    width: 400px;
    height: 578px;
    margin-left: -33px;


  }


  .card21{
    margin-bottom: 25px;
    width: 350px;
    border-radius: none;
  }
  .card21 .card-body{
    text-align: center;
  }


  .arrows{
    width: 80px;
  }
}





.cartes1:hover,
.cartes1:active{
    background-color: #0a2640;
    color: white;
}
.cartes1{
  box-shadow: 1px 1px grey;
  width: 95%;
}


